In [2]:
import pandas as pd
df = pd.read_csv('dataset.csv')

df.head()

   age     bmi  children     region      charges  sex_encoded  smoker_encoded
0   19  27.900         0  southwest  16884.92400            1               1
1   18  33.770         1  southeast   1725.55230            0               0
2   28  33.000         3  southeast   4449.46200            0               0
3   33  22.705         0  northwest  21984.47061            0               0
4   32  28.880         0  northwest   3866.85520            0               0

In [ ]:
#one hot encoder avec sklearn pipeline et faire de la standardisation
#essayer les deux modeles de regression ridge ou lasso avec la gridsearch et la cv